<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(event.errors.count, "error") %> prevented this event from being saved:</b>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :event_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <div><%= form.datetime_select :start_time, id: :event_start_time %></div>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <div><%= form.datetime_select :end_time, id: :event_end_time %></div>
  </div>

  <div class="actions float-left">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
