<%= form_with(model: event, url: event.new_record? ? events_path : event_path, local: true) do |form| %>
<div class="row">
    <div class="col-md-6">
        <% if event.errors.any? %>
            <div class="alert alert-danger">
                <b><%= pluralize(event.errors.count, "error") %> prevented this <%= event_item.downcase %> from being saved:</b>

                <ul>
                    <% event.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, id: :event_name, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, id: :event_description, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image, id: :event_image, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :start_time %>
            <div class="form-inline">
                <input type="text" class="form-control mr-1" id="start_time_date" />
                <input type="text" class="form-control" id="start_time_time" />
                <%= form.hidden_field :start_time, id: :event_start_time, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <div id="duration-wrapper">
                <span>Duration</span>
                <div id="quick-buttons">
                    <button class="btn btn-light btn-sm" data-value="900">15 Minutes</button>
                    <button class="btn btn-light btn-sm" data-value="1200">20 Minutes</button>
                    <button class="btn btn-light btn-sm" data-value="1800">30 Minutes</button>
                    <button class="btn btn-light btn-sm" data-value="3600">1 Hour</button>
                    <button class="btn btn-light btn-sm" data-value="5400">90 Minutes</button>
                    <button class="btn btn-light btn-sm" data-value="7200">2 Hours</button>
                    <button class="btn btn-light btn-sm" data-value="10800">3 Hours</button>
                    <button class="btn btn-light btn-sm" data-value="86400">1 Day</button>
                    <button class="btn btn-light btn-sm" data-value="172800">2 Days</button>
                    <button class="btn btn-light btn-sm" data-value="other">Other</button>
                </div>
            </div>
            <div id="end-time-wrapper">
                <%= form.label :end_time %>
                <div class="form-inline">
                    <input type="text" class="form-control mr-1" id="end_time_date" />
                    <input type="text" class="form-control" id="end_time_time" />
                    <%= form.hidden_field :end_time, id: :event_end_time, class: "form-control" %>
                </div>
            </div>
        </div>

        <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, id: :event_email, class: "form-control" %>
            <span class="help-text">We will use this to contact you if there are any issues with the information.</span>
        </div>

        <div class="form-group">
            <%= form.label :website %>
            <%= form.text_field :website, id: :event_website, class: "form-control" %>
            <span class="help-text">A link to a website associated with this event. (Optional)</span>
        </div>

        <div class="form-group">
            <%= form.label :facebook %>
            <%= form.text_field :facebook, id: :event_facebook, class: "form-control" %>
            <span class="help-text">A link to the facebook page associated with this event. (Optional)</span>
        </div>
    </div>
    <div class="col-md-6">
        <b>Preview</b>
        <%= render 'preview' %>
    </div>
</div>
<div class="actions float-left">
    <%= form.submit (form.object.new_record? ? 'Create' : 'Update'), class: 'btn btn-primary' %>
</div>
<% end %>
