<h2>Fling Performers</h2>
<hr />
<table id="events" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @events.each do |event| %>
      <tr data-link="<%= event_path(@type, event) %>">
        <td><%= event.name %></td>
        <td><img class="event-img" src="<%= event.image.url %>" /></td>
        <td><%= timeago_tag event.start_time, force: true %></td>
        <td><%= timeago_tag event.end_time, force: true %></td>
        <td>
            <%= link_to 'Edit', edit_event_path(@type, event), class: "btn btn-success btn-sm" %>
            <%= link_to 'Delete', event_path(@type, event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
      <% end.empty? %>
      <tr>
        <td colspan="5">You have not added any performers yet! Use the button below to add one.</td>
      </tr>
      <% end %>
  </tbody>
</table>

<hr />
<%= paginate @events %>


<%= link_to 'New Performer', new_event_path, class: "btn btn-success" %>
