<h1>Events</h1>
<hr />
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><img class="event-img" src="<%= event.image.url %>" /></td>
        <td><%= timeago_tag event.start_time, force: true %></td>
        <td><%= timeago_tag event.end_time, force: true %></td>
        <td>
            <%= link_to 'Show', event, class: "btn btn-primary btn-sm" %>
            <%= link_to 'Edit', edit_event_path(event), class: "btn btn-success btn-sm" %>
            <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
      <% end.empty? %>
      <tr>
        <td colspan="5">You have not added any events yet! Use the button below to add one.</td>
      </tr>
      <% end %>
  </tbody>
</table>

<hr />

<%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
