<p id="notice"><%= notice %></p>

<h1>Event</h1>
<hr />
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Image:</strong> <br />
  <img class="event-img" src="<%= @event.image_url %>">
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %> (<%= timeago_tag @event.start_time %>)
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %> (<%= timeago_tag @event.end_time %>)
</p>
<hr />
<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
<%= link_to 'Back', events_path, class: "btn btn-secondary" %>
