<h2>Your Event</h2>
<hr />
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Image:</strong> <br />
      <img class="event-img" src="<%= @event.image.url %>">
      <div style="word-wrap: break-word"><b>URL:</b> <%= link_to @event.image_url, @event.image_url %></div>
    </p>

    <p>
      <strong>Start time:</strong>
      <%= @event.start_time.to_formatted_s(:custom_long) %> (<%= timeago_tag @event.start_time, force: true %>)
    </p>

    <p>
      <strong>End time:</strong>
      <%= @event.end_time.to_formatted_s(:custom_long) %> (<%= timeago_tag @event.end_time, force: true %>)
    </p>

    <p>
      <strong>Duration:</strong>
      <%= distance_of_time_in_words(@event.start_time, @event.end_time) %>
    </p>
    <p>
      <b>Contact Information</b>
      <ul>
          <li><b>Email:</b> <%= @event.email %></li>
          <li><b>Website:</b> <%= @event.website ? link_to(@event.website) : 'None' %></li>
          <li><b>Facebook:</b> <%= @event.facebook ? link_to(@event.facebook) : 'None' %></li>
      </ul>
    </p>
  </div>
  <div class="col-md-6">
      <div class="float-right">
        <%= link_to '<', @event.prev, class: "btn btn-light btn-sm" %>
        <%= link_to '>', @event.next, class: "btn btn-light btn-sm" %>
      </div>
      <b>Preview</b>
      <%= render 'preview' %>
  </div>
</div>
<br />
<div class="actions">
    <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary" %>
    <div class="float-right">
        <%= link_to 'Back', events_path, class: "btn btn-secondary" %>
    </div>
</div>
